{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
<style>
  .section_top_bg {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    justify-items: stretch;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .top_bg_item{
    flex:1;
  }
  .top_bg_item:hover {

  }

  .top_email a:link, .top_email a:visited{
    outline: none;
    text-decoration: none;
    color: #fff;
  }
  .top_bg_item:hover{
    color: #21c149;
    text-decoration: none;
    background: rgb(var(--color-foreground));
  }
  .top_bg_item:hover button {
    color: #21c149;
  }
  .top_bg_item button {
    display:inline-block;
    width: 100%;
    border: 0;
    background: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .1rem;
  }
  .section_top_bg .product-popup-modal__opener{
    width: 100%;
  }
</style>
<section class="top_bg section_top_bg color-accent-2">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
        {%- when 'popup' -%}
          <div class="top_bg_item">
            <modal-opener class="product-popup-modal__opener no-js-hidden quick-add-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
              <button id="ProductPopup-{{ block.id }}" class="" type="button" aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}</button>
            </modal-opener>
            <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.text }}</a>
          </div>  
    {%- endcase -%}
  {%- endfor -%}
  {% assign popups = section.blocks | where: "type", "popup" %}
    {%- for block in popups -%}
      <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
        <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
          <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
          <div class="product-popup-modal__content-info">
            <h1 class="h2">{{ block.settings.page.title }}</h1>
            {{ block.settings.page.content }}
          </div>
        </div>
      </modal-dialog>
    {%- endfor -%}
    <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
</section>
{% schema %}
{
  "name": "Top bar menu",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "popup"
      }
    ]
  }
}
{% endschema %}
